body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: small;
}

.content {
	position: relative;
	max-width: 940px;
	background-color: #FFFFFF;
	margin: auto;
}

.results {
	font-size: small;
	border: none;
	border-collapse:collapse;
}

.result {
	font-style: italic;
}

.resultRow:hover {
	background-color:#EEEEFF;
	cursor:pointer;
}

.detailResultTable {
	text-align: center;
}

.detailResultRow:hover {
	background-color:#EEEEFF;
}



.content fieldset{
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
}

.content .label{
}
.content .labelResult{
	font-weight: bold; 
	text-align: left; 
}
.content .result{
}

.prevLink {
	font-weight: bold; 
	padding-left: 3px;
	padding-right: 6px;
}
.step {
	font-weight: bold; 
	padding-left: 4px;
	padding-right: 4px;
}
.nextLink {
	font-weight: bold; 
	padding-left: 6px;
	padding-right: 3px;
}