body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: small;
}

.content {
	position: relative;
	max-width: 940px;
	background-color: #FFFFFF;
	margin: auto;
}

.results {
	font-size: small;
	border: none;
	border-collapse:collapse;
}

.result {
	font-style: italic;
}

.resultRow:hover {
	background-color:#EEEEFF;
	cursor:pointer;
}

.detailResultTable {
	text-align: center;
}

.detailResultRow:hover {
	background-color:#EEEEFF;
}



.content fieldset{
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
}

.content .label{
}
.content .labelResult{
	font-weight: bold; 
	text-align: left; 
}
.content .result{
}

.prevLink {
	font-weight: bold; 
	padding-left: 3px;
	padding-right: 6px;
}
.step {
	font-weight: bold; 
	padding-left: 4px;
	padding-right: 4px;
}
.nextLink {
	font-weight: bold; 
	padding-left: 6px;
	padding-right: 3px;
}

.widgetToolbar{
	margin: 3px;
	margin-top: -4px;
	/*width: 100%; */
	/*background-image: url('../images/menuToolbar.png'); */
	/*background-repeat:repeat-x; */
	font-size: 13px; 
	background-color: #fafafa; 
	padding: 10px; 
	border-width: 1px; 
	border-style:solid; 
	border-color:#cccccc;
	text-align: right;
	color: #cccccc;
}